table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    background-color: #F5F5F5;
}

td {
    text-align: center;
    width: 100%;
    line-height: 1.5;
    padding: 2.5vw;
}

table.halfTable {
    display: inline-block;
    width: 50%;
}

table.halfTable td{
    width: 50%;
}

img {
    border: 0.225vw;
}

body{
  margin: 0;
}
