table.halfTable {
    margin: auto;
    display: inline-block;
    width: 50%;
    background-color: #F5F5F5;
    border-collapse: collapse;
}

table.halfTable td{
    width: 50%;
    line-height: 1.2;
    text-align: center;
}

table.fullTable {
    margin: auto;
    width: 100%;
    background-color: #F5F5F5;
    border-collapse: collapse;
}

table.fullTable td{
    width: 100%;
    line-height: 1.2;
    text-align: center;
}
